.container {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin-left: 85px; /* Sidebar genişliği kadar */
  margin-top: 80px;  /* Navbar yüksekliği kadar */
  padding: 20px;
  background-color: var(--background);
}